build*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
./otclient
*.o
*.gch
*.a
*.exe
*.spr
*.dat
*.kdev*
*.cbp
CMakeLists.txt.user
./modules/myconfig.otml
./modules/myotclientrc.lua
!.gitignore
