build*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/otclient
/*.h
/*.cxx
*.o
*.gch
*.a
*.exe
*.spr
*.dat
*.kdev*
*.cbp
*~
*.kate-swap
*.autosave
CMakeLists.txt.user*
*.xml
*.otb
*.otbm
*.log
*.bak
*.swp
*.pic
.lvimrc
.clang_complete
config.otml
/modules/otclientrc.lua
/doc
!.gitignore
otclient.map
otclient.layout
LOCALTODO
tags
Thumbs.db
.directory
src/framework/graphics/dx/
modules/.project/modules.sublime-workspace
