build*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/otclient
/*.h
/*.cxx
*.o
*.gch
*.a
*.exe
*.spr
*.dat
*.kdev*
*.cbp
*~
*.kate-swap
*.autosave
CMakeLists.txt.user*
*.xml
*.otb
*.otbm
*.log
*.bak
*.swp
config.otml
/modules/otclientrc.lua
!.gitignore
otclient.map
otclient.layout
LOCALTODO
