<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.otclient.mobile" android:versionCode="1" android:versionName="1.0">

    <application 
                android:debuggable="true"
				android:label="@string/app_name"
                android:icon="@drawable/ic_launcher"
                android:hardwareAccelerated="true" >

        <activity android:name="MainActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="landscape">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data android:name="android.app.lib_name" android:value="otclient"/>
        </activity>
    </application>

    <!-- Android 2.3.3 -->
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="16"/>

    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000"/>

    <!-- Allow writing to external storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Allow make internet connections -->
    <uses-permission android:name="android.permission.INTERNET" /> 
</manifest>
